* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0 none;
}

ul,
ul li,
ol,
ol li {
    list-style: none;
}

section,
article,
aside,
footer,
header,
nav {
    display: block;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Georgia", serif;
    font-size: 1rem;
    line-height: 1.4rem;
    background-color: black;
}