* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

a {
    color: #aaa;
}

@media (min-width: 960px) {
    main {
        flex-direction: row;
        width: 130vw;
        margin-left: -15vw;
    }
}

main .section:not(:first-child):not(:last-child):hover,
main .section.active:not(:first-child):not(:last-child) {
    flex: 2;
}

main .section:not(:first-child):not(:last-child):after {
    opacity: 0.6;
}

main .section:not(:first-child):not(:last-child):hover article,
main .section.active:not(:first-child):not(:last-child) article {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
}

@media (min-width: 960px) {

    main .section:not(:first-child):not(:last-child):hover article,
    main .section.active:not(:first-child):not(:last-child) article {
        transform: translateY(0) skewX(-15deg);
    }
}

.section {
    flex: 1;
    position: relative;
    width: 100vw;
    min-height: 20vh;
    overflow: hidden;
    z-index: 1;
    transition: flex-grow 0.2s, opacity 0.2s;
}



.section.section-video-bg {
    overflow: hidden;
}

.section.section-video-bg video {
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.section:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s, width 0.2s;
}

.section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
}

@media (min-width: 960px) {
    .section {
        width: 20vw;
        height: 100vh;
        margin-right: -1px;
        transform: skewX(15deg) translateZ(0);
    }

    .section:before {
        left: -100vw;
        width: 400vw;
        transform: skewX(-15deg);
    }
}

.hide-images .section.section-video-bg video {
    display: none;
}

.section:first-child:before,
.section:last-child:before {
    background-color: #000;
}

.section:first-child:after,
.section:last-child:after {
    opacity: 0.5;
}

.section:first-child article,
.section:last-child article {
    display: none;
}

.section:nth-child(2):before {
    /* The 2th Box Background */
    background-color: rgb(32, 32, 32);
    background-image: url(../img/90s-code.jpg);
    background-size: contain;
    background-position: 25vw center;
}

.hide-images .section:nth-child(2):before {
    background-image: none;
}

section:nth-child(3):before {
    /* The 3th Box Background */
    background-color: #3c3c3c;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/225363/bg-section--3.jpg);
}

.hide-images .section:nth-child(3):before {
    background-image: none;
}

.section:nth-child(4):before {
    /* The 4th Box Background */
    background-color: #5a5a5a;
    background-image: url(../img/css.png);
    background-size: contain;
    background-position: 25vw center;
}

.hide-images .section:nth-child(4):before {
    background-image: none;
}

section:nth-child(5):before {
    /* The 5th Box Background */
    background-color: #000;
}

.hide-images section:nth-child(5):before {
    background-image: none;
}

article {
    position: relative;
    padding: 24px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    z-index: 1;
    transition: opacity 0.2s, transform 0.2s;
    font-size: 1rem;
}

@media (min-width: 960px) {
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0.7;
        transform: translateY(24px) skewX(-15deg);
        /* background: #0003; */
    }
}

h2 {
    font-size: 1.6em;
    margin-bottom: 12px;
}

button {
    position: fixed;
    top: 12px;
    left: 12px;
    padding: 8px 12px;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

/* header {
    display: flex;
    height: 3rem;
    overflow: hidden;
    background: red;
}

article {
    display: flex;
    flex: 4;
    background: blue;
}

aside {
    display: flex;
    flex: 1;
    background: purple;
}

footer {
    display: flex;
    height: 3rem;
    overflow: hidden;
    background: red;
} */