a {
    color: #aaa;
}

h2 {
    font-size: 1.6em;
    margin-bottom: 12px;
}

button {
    position: fixed;
    top: 12px;
    left: 12px;
    padding: 8px 12px;
    font-size: 10px;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

main .section:not(:first-child):not(:last-child):hover,
main .section.active {
    flex: 2;
}

main .section:after {
    opacity: 0.6;
}

main .section:hover article,
main .section.active article {
    opacity: 1;
    transition: opacity 0.2s 0.2s, transform 0.2s 0.2s;
}

.section {
    flex: 1;
    position: relative;
    width: 100vw;
    min-height: 20vh;
    overflow: hidden;
    z-index: 1;
    transition: flex-grow 0.2s, opacity 0.2s;
}

.section:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: transform 0.2s, width 0.2s;
}

.section:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.2s;
}

.section:first-child:before,
.section:last-child:before {
    /* The first and last box background color */
    background-color: #4b4b4b;

}

.section:nth-child(2):before {
    /* The 2nd Box Background */
    background-color: #5a5a5a;
    background-image: url(../img/90s.jpg);
    background-size: contain;
    background-position: 25vw center;
}

.section:nth-child(3) {
    /* The middle Box */
    overflow: hidden;
}

.section:nth-child(3) video {
    /* The middle Box Video */
    width: auto;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.section:nth-child(4):before {
    /* The 4th Box Background */
    background-color: #3c3c3c;
    background-image: url(../img/css.png);
    background-size: contain;
    background-position: 25vw center;
}

article {
    position: relative;
    padding: 2rem;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    z-index: 1;
    font-size: 1rem;
}


.hide-images .section:before {
    background-image: none;
}

.hide-images .section video {
    display: none;
}


@media (min-width: 768px) {
    main {
        flex-direction: row;
        width: 130vw;
        margin-left: -15vw;
    }

    main .section:hover article {
        transform: skewX(-15deg);
    }

    .section {
        width: 20vw;
        height: 100vh;
        margin-right: -1px;
        transform: skewX(15deg) translateZ(0);
    }

    .section:before {
        left: -100vw;
        width: 400vw;
        transform: skewX(-15deg);
    }

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        opacity: 0.7;
        transform: skewX(-15deg);
    }
}